
@{
    ViewBag.Title = "Index";
}

<h2>Upload File</h2>

<form action="/Training/Process" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>

